<h1>Formularz logowania</h1>

<form asp-action="GetForm" method="post">
    <a>Login</a>
    <input name="login" class="form-control" />
    <a>Password</a>
    <input name="password" type="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
